<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <center>
        {{> header}}
        
        {{caps message}}

        {{> footer}}
    </center>
    </body>
</html>